*{
	margin:0; padding:0; /*сброс стандартных отступов*/
}
body{
	font-family: Trebuchet MS, Trebuchet MS1, sans-serif;
	background-image:url('../img/body.png');
}
ul,ol{
	list-style:none;
}
input[type="text"], img,a{
	outline:none;
	border:none;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.hover a:hover{
	text-decoration:none;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
#content{
	background:#fdf7df;
	border-radius:8px;
	-webkit-box-shadow:0 0 20px #E0DAAD;
	padding:7px;
	margin-bottom:20px;
}
.nav{
	float:left;
	padding:10px 0 10px 10px;
}
.nav ul li{
	display:inline;
}
.nav a{
	color:#565656;
}

.login-or-register{
	float:right;
	padding:10px 0;
	margin-left:5px;
}
.login-or-register > ul li{
	float:left;
	margin-right:20px;
	
}
.arrow{
	background-image:url('../img/green-arrow.png'); background-repeat:no-repeat;
	margin-right:5px;
	margin-top:7px;
	float:left;
	width:10px;
	height:10px;
	display:block;
}
.login-or-register a{
	color:#83AD11;
	text-decoration:none;
}

.login-or-register a:hover{
	color:#E41E25;
}
.login-or-register li:hover .arrow{
	background-image:url('../img/red-arrow.png'); background-repeat:no-repeat;
}
.articles{
	background:#fff;
}

.header{
	margin-bottom:15px;
	height:110px;
	width:940px;
}
.logo{
	width:220px;
	height:110px;
	padding:15px 0 0 15px;
	float:left;
}
.logo > p{
	text-align:center;
	font-size:13px;
	color:#414141;
	font-style:italic;
}
.top-app{
	height:75px;
	width:695px;
	height:75px;
	float:right;
}
.top-app > div{
	float:left;
}
.top-app  a{
	color:#414141;
}
.info{
	font-size:24px;
	color:#414141;
	padding:35px 3px 10px 10px;
	width:160px;
}
.email-contact{
	color:#414141;
	padding:45px 10px 11px 10px;
	font-size:13px;
	width:110px;
}
.button-app{
	padding:30px 10px 9px 10px;
	width:150px;
}
.basket{
	padding:20px 10px 5px 10px;
	width:190px;
}
.basket-img{
	float:left;
}
.basket-info{
	margin-left:60px;
	margin-top:8px;
	font-size:13px;
}
.sum{
	color:#414141;
}
.products-number{
	color:#242424;
}
.number{
	color:#e41e25;
	font-size:18px;
}
.code-t{
	font-size:18px;
	
}
.search-form{
	float:right;
}
.search-form input[type='text']{
	background:#F6F2CB;
	border:1px solid #D9D5B0;
	border-right:none;
	height:29px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	width:650px;
	font-style:italic;
	color:#414141;
	font-size:16px;
	padding-left:10px;
	float:left;
}
.search-form input[type='image']{
	margin-right:2px;
	float:right;
}
.sidebarL{
	width:220px;
	float:left;
}
.sidebarL .catalog{
	border-top-right-radius: 5px;
	border-top:3px solid #FF9349;
	border-right:3px solid #FF9349;
	background:#EC1F10;
	color:#fff;
	font-size:25px;
	padding:15px 0 15px 20px;
}
.navigation ul li a{
	color:#565656;
	text-decoration:none;
	background:#FEFAE4;
	display:block;
	padding:15px 0 15px 20px;
	border-top:#EBE5C9 2px solid;
}

.navigation ul{
	border-right:3px solid #F6EDC4;
	border-bottom:3px solid #F6EDC4;
	border-bottom-right-radius: 5px;
}
.navigation a:hover{
	background:#F6EDC4;
}
.help{
	padding:15px 0 20px 15px;
	color:#414141;
	font-size:25px;
}
.help-block a{
	color:#000;
}
.help-block ul{
	padding:0 0 20px 60px;
}
.help-sprite-1, .help-sprite-2, .help-sprite-3{
	height:25px;
	margin-left:15px;
	padding-left:35px;
	padding-top:5px;
	font-size:14px;
	background-image:url('../img/help-sprite.png');
	background-repeat:no-repeat;
}
.help-sprite-2{
	background-position:0 -38px;
}
.help-sprite-3{
	background-position:0 -78px;
}
.news{
	padding:15px 0 0 15px;
	color:#414141;
	font-size:25px;
}
.news-block dl{
	padding-left:15px;
	padding-bottom:15px;
}
.news-block dt{
	color:#e41e25;
	font-size:13px;
	padding-top:20px;
}
.news-block a{
	color:#414141;
}

.center{
	width:700px;
	float:right;
}
.slider{
	margin-left:-15px;
	height:275px;
}
.info-slider{
	position:absolute;
	padding:15px 0 0 45px;
	height:253px;
	width:230px;
}
.info-slider h1{
	font-size:25px;
	font-weight:normal;
	color#414141;
}
.info-slider ul{
	margin-top:10px;
}
.info-slider ul li{
	font-size:13px;
	color#8D8D8D;
}
.info-slider .old-cena{
	color:#f26533;
	font-size:27px;
	margin-top:30px;
}
.info-slider .new-cena{
	color:#e41e25;
	font-size:35px;
	margin-top:5px;
}
.bay-slider{
	position:absolute;
	top:190px;
	left:1190px;
}
.products{
	width:700px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:-10px;
}
.short-product{
	width:210px;
	margin-left:10px;
	float: left;
	background:#F6F3BF;
	border-radius:5px;
	padding:5px;
}
.white-product{
	background:white;
	padding:10px 0 0 10px;
	min-height:235px;
}
.white-product span a{
	color:#414141;
	text-align:left;
	font-size:13px;
}
.short-product:hover{
	background:red;
}
.bay{
	text-align:right;
	background-image:url('../img/bay.png');
	background-repeat:no-repeat;
	padding:5px 10px 5px 0;
	font-size:18px;
	cursor:pointer;
}
.bay a{
	color:#fff;
	text-decoration:none;
}
.bay_hover{
	text-align:right;
	background-image:url('../img/bay_hover.png');
	background-repeat:no-repeat;
	padding:5px 10px 5px 0;
	font-size:18px;
}
.cena{
	font-size:15px;
	color:#414141;
	padding-right:45px;
}
.new{
	padding:0 0 10px 10px;
	font-size:25px;
	color:#414141;
}

.footer{
	height:75px;
	margin-bottom:15px;
}
.footer > div{
	float:left;
	width:230px;
	font-size:13px;
	padding-top:15px;
}
.button-social{
	margin-top:15px;
	margin-left:15px;
}
.footer a{
	color:#565656;
}
.copy-studio a{
	color:#e41e25;
}

.social .copy{
	padding-left:15px;
}